h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.newGame {
    margin: auto;
    left: 50%;
    font-size: 20px;
    margin-bottom: 20px;
}

.time{

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    

}
.buttons {
    margin: auto;
    left: 50%;
    text-align: center;
    margin-bottom: 10px;
}


table {
    margin: auto;
    left: 50%;
}


  
.cell {
    background-color: rgb(177, 177, 177);
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(214, 214, 214);
    color: rgb(214, 214, 214);
}

.block {
    display: block;
}

.hide {
 background-color: rgb(170, 170, 170);
 color: rgb(170, 170, 170);
}

.show {
    background-color: rgb(112, 112, 112);
    color:black;
   }
  
.bombShow{
    background-color: red;
    color:black;
}   